* {
  margin: 0;
  padding: 0;
  font-family: "Verdana";
}

#header-text {
  font-size: 5em;
  font-family: "Serif";
}

header {
  text-align: center;
  border-bottom: 2px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: white;
}

nav li {
  background-color: white;
  padding: 1.75em 1em;
}

nav ul li ul {
  display: none;
  position: absolute;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  border: 1px solid black;
}

nav ul li ul li a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

nav ul li ul li a:hover {
  background-color: #eb81e0;
}

#nav-logo {
  display: none;
}

#dashboard-hover {
  color: white;
  background-color: black;
  border-left: 2px solid black;
}

#dashboard-hover:hover {
  color: black;
  background-color: #eb81e0;
}

#verticalOneHalf-div {
  display: none;
  height: 310px;
  width: 100%;

}

#verticalOne-div {
  display: flex;
}

#horizontalOne-divOne {
  background-color: #eb81e0;
  height: 600px;
  width: 100%;
}

#horizontalOne-divTwo {
  background-color: #e8c527;
  height: 600px;
  width: 100%;
  border-left: 2px solid black;
}

#verticalTwo-div {
  height: 600px;
  border-top: 2px solid black;
}

#verticalThree-div {
  display:flex;
  border-top: 2px solid black;
}

#horizontalThree-divOne {
  background-color: #AB00A1;
  height: 600px;
  width: 100%;
}

#horizontalThree-divTwo {
  background-color: #eb81e0;
  height: 600px;
  width: 100%;
  border-left: 2px solid black;
}

#verticalFour-div {
  height: 600px;
  border-top: 2px solid black;
}